<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.dao.ClubDao">
    <cache/>
    <!--<select id="getAll" resultType="com.pojo.Club">-->
         <!--select id ,name ,info, create_date  ,rank from club-->
    <!--</select>-->

    <!--<resultMap id="clupResultMap" type="com.pojo.Club" >-->
        <!--<id property="id" column="id" />-->
        <!--<result property="clubName" column="name" />-->
        <!--<result property="clubInfo" column="info" />-->
        <!--<result property="createDate" column="create_date" />-->
        <!--<result property="rank" column="rank" />-->
    <!--</resultMap>-->

     <sql id="clubColumns">
          id ,name ,info, create_date  ,rank
     </sql>

    <select id="getAll" resultType="com.pojo.Club">
        select <include refid="clubColumns" /> from club
    </select>

    <select id="getByName" resultType="com.pojo.Club">
        select <include refid="clubColumns" /> from club
        <where>
            name=#{name}
        </where>

    </select>
    
    
    <update id="updateRank" >
        update club set
         <choose>
             <when test="rank > 0">rank=#{rank}</when>
             <otherwise>rank=0</otherwise>
         </choose>
          where id=#{id}
    </update>


    <select id="getByIds" resultType="Club" parameterType="List">
        select <include refid="clubColumns" /> from club
        <where>
            <foreach collection="ids" item="id" open="and (" close=")" separator="or">
             id=#{id}
            </foreach>
        </where>
    </select>

</mapper>