<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.dao.PlayerDao">
    
    <cache/>
    <select id="findById" parameterType="int" resultType="Player">
      select id,name,age from  players where id=#{id}
    </select>


    <insert id="save" parameterType="Player">
        insert into players(name,age) values(#{name},#{age})
    </insert>

    <update id="update" parameterType="Player">
         update players set name=#{name}  , age =#{age} where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
          delete from players where id=#{id}
    </delete>


    <select id="getAll" resultType="Player">
          select id,name,age from players
    </select>
</mapper>